@import url("http://fonts.cdnfonts.com/css/proxima-nova");

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Uthmanic";
  src: url("./fonts/Uthmanic-Regular.otf") format("opentype");
}
